<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
    <bean id="xmlRpcClient" class="com.bridge.ena.xmlrpc.XMLRPCClient">
        <constructor-arg index="0">
            <value>http://localhost:8080/BancoUnicoGateway/tum</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>1</value>
        </constructor-arg>
        <constructor-arg index="2">
            <value>UGw Server/2.1/1.0</value>
        </constructor-arg>
        <constructor-arg index="3">
            <value>barclays</value>
        </constructor-arg>
        <constructor-arg index="4">
            <value>wzt45.h</value>
        </constructor-arg>
        <constructor-arg index="5">
            <value>1</value>
        </constructor-arg>
        <constructor-arg index="6">
            <value>1000</value>
        </constructor-arg>
        <constructor-arg index="7">
        	<value>2000</value>
        </constructor-arg>
        <constructor-arg index="8">
        	<value>20000</value>
        </constructor-arg>
    </bean>
    <bean id="signatureVerifier" class="mcel.tump.util.cert.SignatureVerifier">
    	<constructor-arg index="0"><value>C://TUMKeystore/.keystore</value></constructor-arg>
    	<constructor-arg index="1"><value>madcoder</value></constructor-arg>
        <constructor-arg index="2"><value>TUMP2012</value></constructor-arg>
        <constructor-arg index="3"><value>TUMP2012</value></constructor-arg>
    </bean>
</beans>