<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>MTNGateway</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/gatewayContext.xml</param-value>
 </context-param>
 <context-param>
  <param-name>log4jConfigLocation</param-name>
  <param-value>/WEB-INF/classes/log4j.xml</param-value>
 </context-param>
 <context-param>
  <param-name>webAppRootKey</param-name>
  <param-value>MTNGateway</param-value>
 </context-param>
 <listener>
  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <servlet>
  <description>TUM Gateway Servlet</description>
  <servlet-name>TUMGatewayServlet</servlet-name>
  <servlet-class>mcel.tump.gateway.service.TUMGatewayServlet</servlet-class>
 </servlet>
 <servlet>
  <description>MTN Gateway Servlet</description>
  <servlet-name>MTNGatewayServlet</servlet-name>
  <servlet-class>mcel.tump.gateway.service.MTNGatewayServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>TUMGatewayServlet</servlet-name>
  <url-pattern>/tum</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MTNGatewayServlet</servlet-name>
  <url-pattern>/mtn</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
</web-app>
